# generic folders
.ipynb_checkpoints/
.virtual_documents/
.vscode
**__pycache__
.ruff_cache

# project-specific folders
old_**/
conc_**/
pres**/
zero_sims/
concordant_networks/

# project-specific file types
*.png
*.out
*pkl
*.lgl
*.profile

reports/report_files
reports/report.html